.project-type-list {
    padding: 8px;
}

.project-type-list-name {
    padding: 8px;
    height: 54px;
    line-height: 38px;
}

.footer {
    background: white;
    padding: 10px 20px;
    margin: 30px 20px;
    border-radius: 3px;
    font-size: 16px;
}

app-test-creator {
    height: 100%;
}

.stepNumber {
    background: #007bff;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 20px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 24px;
    margin-right: 10px;
    text-align: center;
    width: 24px;
    font-size: 15px;
}

.stepText {

}

.next-icon {
    width: 40px;
}

.box-border {
    border-radius: 5px;
    border: 1px solid grey;
    margin-right: 5px;
    padding-top: 6px;
}

.box-border-extended {
    border-radius: 0px;
    margin-right: 5px;
    background: whitesmoke;
    padding: 15px 25px;
    border-left: 5px solid #546E7A;
}


.iconLine {
    line-height: 20px;
    vertical-align: top;
}

.margin-top-1{
    margin-top: 1px !important;
}
