.create-scheduler{
    height:auto;
    max-width: 300px;
    padding: 20px;
    border: 1px solid black;
}

.font-size-40{
    font-size: 40px;
}

.font-size-80{
    font-size: 80px;
}

.icon-80{
    height: 80px !important;
    width: 80px !important;
    min-height: 80px !important;
    max-width: 80px !important;
}

.display-block{
    display: inline-block !important;
    margin: 0 auto !important;
}

.font-size-12{
    font-size: 12px !important;
}

.font-color-black-50{
    color: rgba(0,0,0,0.5);
}

.padding-8{
    padding: 8px;
}

.margin-4f{
    margin: 4px !important;
}

.icon-font-16{
    font-size: 16px !important;
}

.button-inside-chips{
    height: 20px !important;
    width: 20px !important;
    line-height: 20px !important;
}
