<div class="box-shadow app-wrapper text-library-wrapper">
    <div fxFlex fxLayout="row" class="margin-top-20" fxLayoutAlign="start center">
        <h3>Test Presets</h3>
    </div>

    <div fxFlex fxLayout="column" class="margin-top-20">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" name="searchText" placeholder="Type to search..."
                           [(ngModel)]="searchText" (ngModelChange)="searchChanged()" >
                </div>
            </div>
        </form>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col" class="align-middle">Name</th>
            <th scope="col" class="align-middle">Project Type</th>
            <th scope="col" class="align-middle">Test Suite</th>
            <th scope="col" class="align-middle">Environment</th>
            <!--<th scope="col" class="align-middle">Action</th>-->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let preset of presets | CommonTableFilter : searchText : filterIndexIgnores ; let i = index" (click)="presetClicked(preset)" class="cursor-pointer">
            <td class="align-middle">{{preset.presetName}}</td>
            <td class="align-middle">{{preset.projectType}}</td>
            <td class="align-middle">{{preset.testSuite}}</td>
            <td class="align-middle">{{preset.environment}}</td>
        </tr>
        </tbody>
    </table>

    <!--<div fxFlex fxLayout="row" fxLayoutAlign="center center" *ngIf="!filteredPresets.length">-->
        <!--<strong><p>Empty Search Result! Try with another keyword!</p></strong>-->
    <!--</div>-->

</div>
